body 
{
    font-family:'Times New Roman', Times, serif;
    background-color:black;
    line-height:inherit;
}

p
{
    color:wheat;
}

h1 
{
    color: #9b9b9bbd;
}

.x
{
    text-align: center;
}

ol
{
    margin-left: 20px;
    color:blue;
}

li 
{
    margin-bottom: 10px;
}

.r
{
    color:red;
}
